{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>EulerPi</title>
  <link rel="stylesheet" href="{% static 'eulerpi/style.css' %}?v=base2">
  <link rel="stylesheet" href="{% static 'eulerpi/grid.css' %}?v=grid4">
</head>
<body>
  <main class="wrapper">
    <h1>EulerPi</h1>
    <p>Elige un número para jugar:</p>
    <div class="row">
      <a class="btn" href="{% url 'game' 'euler' %}">Euler</a>
      <a class="btn" href="{% url 'game' 'pi' %}">Pi</a>
    </div>
  </main>
</body>
</html>
